<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
<table border="1">
<thead>
<tr>
<th>Nombre</th>
<th>Email</th>
<th>Edad</th>
</tr>
</thead>
<tbody>
<% usuarios.forEach(usuario => { %>
<tr>
<td><%= usuario.nombre %></td>
<td><%= usuario.apellidocompleto %></td>
<td><%= usuario.telefono %></td>
<td><%= usuario.email %></td>
<td><%= usuario.direccion %></td>
<td><%= usuario.ciudad %></td>
<td><%= usuario.fechaNacimiento %></td>
</tr>
<% }) %>
</tbody>
</table>
    <br><br>
<button onclick="window.location.href='../Htmls/Index.html'">Volver</button>
</body>
</html>